<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/produto.css">
    <link rel="stylesheet" href="/css/formulario.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/tabelas.css">
    <title>Pedidos Aguardando Pagamento</title>
</head>
<body>
<%- include('partials/nav-cliente') %>
<main class="conteudo">
    <h1 class="titulo-principal">Pedidos Aguardando Pagamento</h1>
    <% if (pedidos.length > 0) { %>
        <table class="table">
            <thead class="table_header">
            <tr class="table_row">
                <th>Número do Pedido</th>
                <th>Data</th>
                <th>Valor Total</th>
                <th>Status</th>
                <th>Detalhes</th>
            </tr>
            </thead>
            <tbody class="table_body">
            <% pedidos.forEach(pedido => { %>
                <% if (
                        pedido.status === 'Aguardando Pagamento' ||
                        pedido.status === 'Pagamento Rejeitado' ||
                        pedido.status === 'Pagamento com sucesso' ||
                        pedido.status === 'Aguardando retirada' ||
                        pedido.status === 'Em transito' ||
                        pedido.status === 'Entregue'
                ) { %>
                    <tr>
                        <td><%= pedido.numero_pedido %></td>
                        <td><%= new Date(pedido.data_pedido).toLocaleDateString() %></td>
                        <td>
                            R$
                            <%= Number(pedido.valor_total).toFixed(2).replace('.', ',') %>
                        </td>
                        <td><%= pedido.status %></td>
                        <td>
                            <a href="/clientes/detalhes-pedido/<%= pedido.id_pedido %>" class="btn_secundario">Detalhes</a>
                        </td>

                    </tr>
                <% } %>
            <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>Nenhum pedido aguardando pagamento.</p>
    <% } %>
</main>
<%- include('partials/footer') %>
</body>
</html>